/* ============================================= */
/*                     Images                    */
/* ============================================= */

.card img {
    border-radius: 50%;
    height: 110px;
    margin-right: 20px;
}