/* ============================================= */
/*                   Typography                  */
/* ============================================= */

* {
    font-family: 'Dosis', sans-serif;
    h2 {
        color: #485358;
        margin-bottom: 0;
    }
    p {
        color: #5755555d;
        font-size: 18px;
        font-weight: 600;
        margin-top: 5px;
    }
    
}

